.homeContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
}

.homeHead {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.homeBody {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.folderContainer {
  flex: 5;
  border-right: 2px solid black;
}

.folderDataContainer {
  flex: 2;
  overflow-y: auto;
}

.folder {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
  cursor: pointer;
  margin: 1rem;
}
