.usersContainer table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: normal;
  background-color: #f7f7f7;
}

td {
  font-weight: normal;
}
